*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
}

#box1{
    width: 200px;
    height: 200px;
    background-color: #d40d0d;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: #3310fa;
    margin-top: 5rem;
}

#box3{
    width: 200px;
    height: 200px;
    background-color: #f6fa10;
    margin-top: 5rem; 
    border-radius: 1rem;
}


.text-box{
    margin-top: 5rem; 
}
.text-box h1{
    margin-bottom: 2rem;
}

/* Time line */
.timeline{
    margin-top: 10rem;
}
.timeline h1{
    text-align: center;
    margin-bottom: 1rem;
}